<!DOCTYPE html>
<html>

<head>
  <!-- ejs语法 -->
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
  <div id="root"></div>
  <!-- <script src="/md5.js"></script> // 这里一直没能成功引入该文件，疑问待解决-->
</body>

<!-- 是否是开发环境? -->
<!-- <% if (htmlWebpackPlugin.options.devMode) { %>
    <script src="http://localhost:8000/webpack-dev-server.js"></script>
<% } %> -->

<!-- <script src="userConfig.js"></script>/ -->
</html>