// .editable-cell {
//     position: relative;
//   }
  
//   .editable-cell-input-wrapper,
//   .editable-cell-text-wrapper {
//     padding-right: 24px;
//   }

// //控制tablecell的行高
// //   .editable-cell-text-wrapper {
// //     padding: 5px 24px 5px 5px;
// //   }
  
//   .editable-cell-icon,
//   .editable-cell-icon-check {
//     position: absolute;
//     right: 0;
//     width: 20px;
//     cursor: pointer;
//   }
  
//   .editable-cell-icon {
//     line-height: 18px;
//     display: none;
//   }
  
//   .editable-cell-icon-check {
//     line-height: px;
//   }
  
//   .editable-cell:hover .editable-cell-icon {
//     display: inline-block;
//   }
  
//   .editable-cell-icon:hover,
//   .editable-cell-icon-check:hover {
//     color: #108ee9;
//   }
  
//   .editable-add-btn {
//     margin-bottom: 8px;
//   }
// body {line-height: 1}

.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: rgb(245, 243, 243);
  padding: 20px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: rgb(255, 255, 255);
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background:rgb(245, 243, 243);
}

p{
    font-family: sans-serif;
    font-size:14px;
    line-height: 1.5;
}

.ant-card-body {
  padding: 15px;
  height: 295px;}